<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据分析</title>
</head>
<body>
<div>
    <h1>酒店-城市分布（中国）</h1>
    <table>
        <tr><td>城市类别</td><td>酒店数量</td><td>占比</td></tr>
         <tr><td>全部城市</td><td>{{city_data.0.hotel_num}}</td><td>100.0%</td></tr>
         <tr><td>一线城市</td><td>{{city_data.0.one_city_num}}</td><td>{{ one }}%</td></tr>
         <tr><td>二线城市</td><td>{{city_data.0.two_city_num}}</td><td>{{ two }}%</td></tr>
         <tr><td>其他</td><td>{{city_data.0.other_city_num}}</td><td>{{ other }}%</td></tr>
    </table>
</div>
<div>
    <h1>酒店-价格分布（中国）</h1>
    <table>
        <tr><td>城市类别</td><td>有价酒店数量</td><td>总酒店数量</td><td>低档酒店数量</td><td>中档酒店数量</td><td>高档酒店数量</td></tr>
         <tr><td>全部城市</td><td>{{ has_price_hotel }}</td><td>{{city_data.0.hotel_num}}</td><td>{{ all_low_hotel }}</td><td>{{ all_middle_hotel }}</td><td>{{ all_height_hotel }}</td></tr>
         <tr><td>一线城市</td><td>{{price_data.0.hotel_num}}</td><td>{{city_data.0.one_city_num}}</td><td>{{price_data.0.low_num}}</td><td>{{price_data.0.middle_num}}</td><td>{{price_data.0.height_num}}</td></tr>
         <tr><td>二线城市</td><td>{{price_data.1.hotel_num}}</td><td>{{city_data.0.two_city_num}}</td><td>{{price_data.1.low_num}}</td><td>{{price_data.1.middle_num}}</td><td>{{price_data.1.height_num}}</td></tr>
         <tr><td>其他</td><td>{{price_data.2.hotel_num}}</td><td>{{city_data.0.other_city_num}}</td><td>{{price_data.2.low_num}}</td><td>{{price_data.2.middle_num}}</td><td>{{price_data.2.height_num}}</td></tr>
    </table>
</div>
</body>
</html>